
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

@background-color: #F8F8F8;
@placeholder-color: #98A2B6;
@base-text-color: #79859C;

.bordered {
    border: 2px solid #D9E7F0;
    border-radius: 3px 3px 3px 3px;
}

textarea,
 input[type="text"],
 input[type="password"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #F9FAFB;
    border: 2px solid #D9E7F0;
    border-radius: 3px 3px 3px 3px;
    color: #5D5F7C;
}

textarea {
    overflow: hidden;
}

input, textarea, select {
    font-family: 'Open Sans', sans-serif;
    color: #5D5F7C;
    box-shadow: none;
}

input {
    padding: 5px 4px 3px;
    background-color: #F9FAFB;
    border: 2px solid #D9E7F0;
}

select {
    padding: 3px;
    background-color: #F9FAFB;
    border: 2px solid #D9E7F0;
    height: 30px;
}

select:focus {
    outline: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: @placeholder-color;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: @placeholder-color;
}

html {
    height: 100%;
    overflow-y: hidden;
}

body {
    height: 100%;
    color: @base-text-color;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: 0px;
    overflow: hidden;
}

.column {
    background-color: @background-color;
    margin-left: 0px;
    position: absolute;
    height: 100%;
    width: 33%;
    min-width: 320px;
    max-width: 480px;

    .content-view {
      display: none;
    }
}

.root-item {
    padding: 10px 10px 1px 10px;
    background-color: #EEF1F8;
    border-bottom: 3px solid #E7EEF3;
}

.nested-item {
    padding: 10px 10px 1px 10px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EEF1F8;
    position: relative;
}

.column-one {
}

.column-two {
    left: 33%;
}

.column-three {
    width: 34%;
    left: 66%;
}

.column-view {
    height: 100%;
    position: relative;
    background-color: #FFFFFF;
    border-right: 2px solid #D9E7F0;
}

.content-view {
    overflow-y: scroll;
    position: absolute;
    top: 44px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.has-bar-top {
    .top-block {
    }
}

.has-bar-bottom {
    .content-view {
        margin-bottom: 48px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
}

.bar {
    position: absolute;
    width: 100%;
    height: 28px;
    padding: 8px 0px;
    background-color: #F9FAFB;
    border-bottom: 2px solid #D9E7F0;

    .right {
        float: right;
    }

    .save-button {
        position: absolute;
        right: 68px;
        top: 0;
    }
}

.bar-top {
    .bar;
    top: 0px;

    .search-field {
        margin-left: 10px;
        input {
            width: 200px;
        }
    }

    .back-button {
        margin-left: 10px;
    }

    .right {
        margin-right: 10px;
    }
}

.back-button {
    display: none;
}

.btn:focus {
    outline: medium none;
}

.message {
    background-color: #FFFF00;
    padding: 8px;
}

.errors-message {
    .message;
    display: none;
}

.menu .delete-field {
    color: red;
}

.btn, .btn:hover, .btn:focus {
    text-shadow: none;
    background-image: none;
    box-shadow: none;
    background-color: #4DA7EB;
    color: #FFFFFF;
    border: none;
    height: 30px;
}

.btn:hover {
    color: #3C4F6B;
}

.btn-small {
    color: #4AA0DF;
    margin: 0px 4px 0px 1px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.selected {
    background-color: #4DA7EB;
    color: #FFFFFF;

    a {
        color: #FFFFFF;
        border-bottom: 1px dotted;
    }

    input, textarea, select {
        background-color: transparent;
        color: #FFFFFF;
    }

    input:focus, textarea:focus, select:focus {
        background-color: transparent;
        color: #FFFFFF;
        border-color: #FFFFFF;
    }
}

.highlighted {
    .highlight {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -2px;
        width: 10px;
        background-color: #4DA7EB;
    }
}

.action-bar {
    padding-bottom: 5px;
    margin-top: -4px;
}

a:focus, button:focus {
    outline: none;
}
a:hover, button:hover {
    text-decoration:none;
    color: #3C4F6B;
}

.spinner {
    background-color: #FFFFFF;
}


.content-view {
    padding: 0px 0 0px;

    .form-search .radio input[type="radio"],
    .form-search .checkbox input[type="checkbox"],
    .form-inline .radio input[type="radio"],
    .form-inline .checkbox input[type="checkbox"] {
        margin-top: 0px;
    }

    .root-item-template, .nested-item-template {
        display: none;
    }

    .extra {
        display: none;
    }

    .add-button {
        width: 100%;
        margin-bottom: 9px;
    }

    .add-root-item-button .add-button {
        height: 50px;
    }

    .add-nested-item-button {
        margin-bottom: 16px;
        height: 24px;
    }

    .ui-state-highlight {
        height: 1.5em; line-height: 1.2em;
    }

    .delete-icon {
        display: none;
    }

    .help-inline {
        margin-top: 9px;
        padding-left: 5px;
    }

    .delete-field {
        margin-left: 6px;
    }

    .add-on {
        background-color: #F9FAFB;
        border: 2px solid #D9E7F0;
        border-right: none;
    }

    .add-on-mini {
        width: 36px;
        text-align: left;
    }

    add-on-small {
        width: 50px;
        text-align: left;
    }

    .input-field {
        position: relative;
        height: 28px;
        width: 100%;

        .input-wrapper {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 10px;

            input {
                width: 100%;
            }
        }

        .delete-field {
            position: absolute;
            top: 4px;
            right: 4px;
        }
   }

    .textarea-field {
        position: relative;
        width: 100%;
        height: auto;

        .textarea-wrapper {
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 6px 4px 4px;

            textarea {
                height: 26px;
                width: 100%;
                resize: none;
                margin: -6px 0px 0px -4px;
            }
        }
    }

    .status-field {
        position: absolute;
        padding: 0;
        right: 0px;

        select {
            width: 78px;
            border-radius: 2px;
        }
    }

    .place-name-label {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 6px;
    }

    .place-name-field {
        .input-wrapper {
            right: 96px;
        }
    }

    .place-address-field {
        .input-wrapper {
            left: 58px;
        }
    }

    .place-city-field {
        select {
            width: 132px;
        }
    }

    .place-phone-field {
        input {
            width: 110px;
        }
    }

    .place-email-field {
        .input-wrapper {
            left: 46px;
        }
    }

    .place-website-field {
        .input-wrapper {
            left: 56px;
        }
    }

    .place-map-actions {
        margin-top: 20px;
        padding-top: 4px;
        border-top: 2px solid #D9E7F0;
    }

    .place-latitude-field, .place-longitude-field {
        .input-wrapper {
            left: 46px;
        }
    }

    .place-search-field {
        .input-wrapper {
            input {
                border-radius: 3px 3px 0px 0px;
            }
        }
    }

    .place-map-canvas {
        height: 400px;
        border-radius: 0px 0px 3px 3px;
        border-top: none;
    }

    .menu-name-field {
        .input-wrapper {
            right: 96px;
        }
    }

    .group-name-field {
        .input-wrapper {
            right: 166px;
        }
        .input-wrapper-extra {
            right: 96px;
        }
        .action-inline {
            position: absolute;
            top: 7px;
            right: 81px;
        }
    }

    .item-name-field {
        .input-wrapper {
            right: 96px;
        }
    }

    .size-name-field {
        input {
            width: 70px;
        }
    }

    .size-price-field {
        margin-left:6px;
        input {
            width: 46px;
        }
    }

    .menu-item-size {
        .status-field {
            display: inline-block;
            float: right;
            position: relative;
        }
    }

    .deal-name-field {
        .input-wrapper {
            right: 96px;
        }
    }

    .deal-price-field {
        input {
            width: 100px;
        }
    }

    .deal-item-name-field {
        .input-wrapper {
            right: 96px;
        }
    }

    .control-group {
        .errorlist {
            list-style: none outside none;
            margin: 6px 0 0 6px;
            color: red;
        }
    }
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-width: 960px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */

    .row {
        width: 100%;
        overflow: hidden;
        max-width: 480px;
    }

    .column-one {
        width: 100%;
        left: 0px;
    }

    .column-two {
        width: 100%;
        left: 0px;
        display: none;
    }

    .column-three {
        width: 100%;
        left: 0px;
        display: none;
    }

    .back-button {
        display: inline-block;
    }

    .root-formset {
        .root-item, .nested-item {
            padding-right: 50px;
        }

        .delete-label {
            display: none;
        }

        .delete-icon {
            display: inline-block;
        }
    }

}

@media screen and (max-width: 360px) {

    .root-formset {
        .size-name-field {
            input {
                width: 48px;
            }
        }

        .size-price-field {
            input {
                width: 30px;
            }
        } 
    }

}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}