{% load url from future %}
{% load static from staticfiles %}
{% load templatetag_handlebars %}

<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{% static 'shared/css/bootstrap.min.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet/less" type="text/css" href="{% static 'shared/css/style.css' %}">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

  <body>

    <div class="container">
      <div class="row">

        <div class="span3 column column-one">
          <section class="column-view content-one has-bar-top"></section>
          <div class="overlay"></div>
        </div>

        <div class="span5 column column-two">
          <section class="column-view content-two has-bar-top"></section>
          <div class="overlay"></div>
        </div>

        <div class="span5 column column-three">
          <section class="column-view content-three has-bar-top"></section>
          <div class="overlay"></div>
        </div>

      </div>
    </div>

    <script>
      var placelisturl = "{% url "place_list" %}";
    </script>

    <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we use the local jQuery. -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'shared/js/jquery-1.7.2.min.js' %}"><\/script>')</script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="{% static 'shared/js/jquery-ui-1.8.21.min.js' %}"><\/script>')</script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>

    {% handlebars_js %}
    <script src="{% static 'shared/js/ember.js' %}"></script>
    <script src="{% static 'shared/js/ember-data.js' %}"></script>
    <script src="{% static 'shared/js/tastypie_adapter.js' %}"></script>
    <script src="{% static 'shared/js/ember-bootstrap.js' %}"></script>
    <script src="{% static 'shared/js/bootstrap.js' %}"></script>
    <script src="{% static 'shared/js/less-1.3.0.min.js' %}"></script>
    <script src="{% static 'shared/js/jquery.pjax.js' %}"></script>
    <script src="{% static 'shared/js/spin.min.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>

  </body>
</html>
