<div class="root-item form-inline deal">
  {% if form.errors %}<div class="has-errors"></div>{% endif %}
  {{ form.non_field_errors }}

  <fieldset>
    <div class="control-group">
      <div class="controls">
        <div class="input-field deal-name-field">
          <div class="input-wrapper">{{ form.name }}</div>
          <div class="inline status-field">{{ form.status }}</div>
        </div>
        {{ form.name.errors}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="textarea-field">
          <div class="textarea-wrapper">{{ form.description }}</div>
        </div>
        {{ form.description.errors }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="textarea-field">
          <div class="textarea-wrapper">{{ form.conditions }}</div>
        </div>
        {{ form.conditions.errors }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="input-prepend deal-price-field"><span class="add-on">Rs</span>{{ form.price }}</div>
        {{ form.price.errors }}
      </div>
    </div>

    {{ form.id }}
  </fieldset>

</div>
