{% load url from future %}

<div class="form-inline nested-item deal-item {{ initial_or_extra }}">
  {% if form.errors %}<div class="has-errors"></div>{% endif %}

  {{ form.non_field_errors }}

  <fieldset>
    <div class="control-group">
      <div class="controls">
        <div class="input-field deal-item-name-field">
          <div class="input-wrapper">{{ form.name }}</div>
          <div class="inline status-field">{{ form.status }}</div>
        </div>
        {{ form.name.errors}}
      </div>
    </div>
    {{ form.id }}
  </fieldset>
</div>
