{% load url from future %}

<div class="content-view">
  {% if items.errors %}
  <div class="errors-message">Please fix the errors and save again.</div>
  {% endif %}

  <form class="root-formset top-block group-items-form" method="POST" action="{% url 'group_items_edit' group.id %}">
    {% csrf_token %}
    <div class="root-management-form">{{ items.management_form }}</div>

    <div class="root-items">

      {% for form in items.initial_forms %}
      {% include "menu_items_formset.html" with form=form initial_or_extra="initial" only %}
      {% endfor %}

      {% for form in items.extra_forms %}
      {% include "menu_items_formset.html" with form=form initial_or_extra="extra" only %}
      {% endfor %}

      </div>

    <div class="add-root-item-button menu-item root-item">
      <button class="btn-small add-button add-menu-item-button">Add Another Item</button>
    </div>

  </form>
</div>

<div class="bar-top">
  <button class="btn back-button">Back</button>
  <button class="btn right save-group-items-button">Save</button>
</div>
