<div class="root-item form-inline menu-item">
  {% if form.errors %}<div class="has-errors"></div>{% endif %}
  {{ form.non_field_errors }}
  <fieldset>
    <div class="control-group">
      <div class="controls">
        <div class="input-field item-name-field">
          <div class="input-wrapper">{{ form.name }}</div>
          <div class="inline status-field">{{ form.status }}</div>
        </div>
        {{ form.name.errors}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="textarea-field">
          <div class="textarea-wrapper">{{ form.description }}</div>
        </div>
        {{ form.description.errors }}
      </div>
    </div>
    {{ form.id }}
  </fieldset>
</div>
