<div class="root-item-wrapper {{ initial_or_extra }}">

  {% include "menu_item_form.html" with form=form only %}

  {% if form.nested %}
  {% for formset in form.nested %}

  <div class="nested-formset">

    <div class="nested-management-form">{{ formset.management_form }}</div>

    <div class="nested-items">

      {% for nested_form in formset.initial_forms %}
      {% include "menu_item_size_form.html" with form=nested_form initial_or_extra="initial" only %}
      {% endfor %}

      {% for nested_form in formset.extra_forms %}
      {% include "menu_item_size_form.html" with form=nested_form initial_or_extra="extra" only %}
      {% endfor %}

    </div>

    <div class="add-nested-item-button nested-item menu-item-size">
      <button class="btn-small add-button add-menu-item-size-button">Add Another Size</button>
    </div>

  </div>

  {% endfor %}
  {% endif %}

</div>
