<div class="form-inline nested-item menu-item-size {{ initial_or_extra }}">
  {% if form.errors %}<div class="has-errors"></div>{% endif %}
  {{ form.non_field_errors }}

  <fieldset>
    <div class="control-group">
      <div class="input-prepend size-name-field"><span class="add-on">Size</span>{{ form.name }}</div>
      <div class="input-prepend size-price-field"><span class="add-on">Rs</span>{{ form.price }}</div>
      <div class="inline status-field">{{ form.status }}</div>
      {{ form.name.errors }}
      {{ form.price.errors }}
    </div>
    {{ form.id }}
  </fieldset>

</div>
