{% load url from future %}

<div class="form-inline nested-item menu-group {{ initial_or_extra }}">
  {% if form.errors %}<div class="has-errors"></div>{% endif %}
  <div class="highlight"></div>

  {{ form.non_field_errors }}

  <fieldset>
    <div class="control-group">
      <div class="controls">
        <div class="input-field group-name-field">
          <div class="input-wrapper {% if initial_or_extra == 'extra' %}input-wrapper-extra{% endif %}">{{ form.name }}</div>

          {% if form.instance.id %}
          <span class="inline action-inline">
            <a href="{% url 'group_items_edit' form.instance.id %}" class="btn-small show-group-items">Group Items</a>
          </span>
          {% endif %}

          <div class="inline status-field">{{ form.status }}</div>
        </div>
        {{ form.name.errors}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="textarea-field">
          <div class="textarea-wrapper">{{ form.description }}</div>
        </div>
        {{ form.description.errors }}
      </div>
    </div>

    {{ form.id }}
  </fieldset>
</div>
