{% load url from future %}

<div class="content-view">
  <div class="errors-message">Please fix the errors and save again.</div>

  <form class="root-formset top-block place-menus-form" method="POST"  action="{% url 'place_menus_edit' place.id %}">

    {% csrf_token %}
    <div class="root-management-form">{{ menus.management_form }}</div>

    <div class="root-items">

      {% for form in menus.initial_forms %}
      {% include "menus_formset.html" with form=form initial_or_extra="initial" only %}
      {% endfor %}

      {% for form in menus.extra_forms %}
      {% include "menus_formset.html" with form=form initial_or_extra="extra" only %}
      {% endfor %}

    </div>

    <div class="add-root-item-button root-item menu">
      <button class="btn-small add-button add-menu-button">Add Another Menu</button>
    </div>

  </form>
</div>

<div class="bar-top">
  <button class="btn back-button">Back</button>
  <button class="btn right save-place-menus-button">Save</button>
</div>
