{% load url from future %}

<div class="content-view">
  <div class="errors-message">Please fix the errors and save again.</div>

  {% if place.errors %}
  <div class="has-errors"></div>
  {% endif %}

  {% if place.instance.id %}
  <form class="root-formset place-form top-block" method="POST"  action="{% with url_name="place_edit" %}{% url url_name place.instance.id %}{% endwith %}">
  {% else %}
  <form class="root-formset place-form top-block" method="POST"  action="{% with url_name="place_add" %}{% url url_name %}{% endwith %}">
  {% endif %}

    {% csrf_token %}

    <div class="nested-item form-inline initial">

      {% with root_form=place %}
      {{ root_form.non_field_errors }}

      <fieldset>
        <div class="control-group">
          <div class="controls">
            <div class="input-field place-name-field">
              <div class="input-wrapper">{{ root_form.restaurant_name }}</div>
              <div class="inline status-field">{{ root_form.status }}</div>
            </div>
            {{ root_form.restaurant_name.errors}}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="textarea-field">
              <div class="textarea-wrapper">{{ root_form.brief_description }}</div>
            </div>
            {{ root_form.brief_description.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend input-field place-address-field">
              <span class="add-on add-on-small">Address</span>
              <div class="input-wrapper">{{ root_form.address_1 }}</div>
            </div>
            {{ root_form.address_1.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend place-city-field"><span class="add-on add-on-mini">City</span>{{ root_form.city }}</div>
            {{ root_form.city.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend place-phone-field"><span class="add-on add-on-small">Phone 1</span>{{ root_form.phone }}</div>
            {{ root_form.phone.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend place-phone-field"><span class="add-on add-on-small">Phone 2</span>{{ root_form.phone_2 }}</div>
            {{ root_form.phone_2.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend input-field place-email-field">
              <span class="add-on add-on-mini">Email</span>
              <div class="input-wrapper">{{ root_form.email }}</div>
            </div>
            {{ root_form.email.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend input-field place-website-field">
              <span class="add-on add-on-small">Website</span>
              <div class="input-wrapper">{{ root_form.website_url }}</div>
            </div>
            {{ root_form.website_url.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls place-map-actions">
            <button class="btn-small set-to-current-location-button">Geolocate</button>
            <button class="btn-small reset-location-button">Reset to Original Coordinates</button>
            <button class="btn-small remove-location-button">Clear Coordinates</button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend input-field place-latitude-field">
              <span class="add-on add-on-mini">Lat</span>
              <div class="input-wrapper">{{ root_form.latitude }}</div>
            </div>
            {{ root_form.latitude.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="input-prepend input-field place-longitude-field">
              <span class="add-on add-on-mini">Lng</span>
              <div class="input-wrapper">{{ root_form.longitude }}</div>
            </div>
            {{ root_form.longitude.errors }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls place-map-field">
            <div class="input-field place-search-field">
              <div class="input-wrapper">
                <input class="place-search-input" type="text" size="50" placeholder="Type an address...">
              </div>
            </div>
            <div class="place-map-canvas"></div>
          </div>
        </div>

      </fieldset>

      {% endwith %}

    </div>

  </form>
</div>

<div class="bar-top">
  <button class="btn back-button">Back</button>
  <button class="btn right save-place-button">Save</button>
</div>

