{% load url from future %}

<div class="content-view">
  <div class="errors-message">Please fix the errors and save again.</div>

  <form class="root-formset top-block place-deals-form" method="POST"  action="{% url 'place_deals_edit' place.id %}">

    {% csrf_token %}
    <div class="root-management-form">{{ deals.management_form }}</div>

    <div class="root-items">

      {% for form in deals.initial_forms %}
      {% include "deals_formset.html" with form=form initial_or_extra="initial" only %}
      {% endfor %}

      {% for form in deals.extra_forms %}
      {% include "deals_formset.html" with form=form initial_or_extra="extra" only %}
      {% endfor %}

    </div>

    <div class="add-root-item-button root-item deal">
      <button class="btn-small add-button add-deal-button">Add Another Deal</button>
    </div>

  </form>
</div>

<div class="bar-top">
  <button class="btn back-button">Back</button>
  <button class="btn right save-place-deals-button">Save</button>
</div>
