{% load url from future %}

{% if places.number == 1 %}
<div class="content-view">
  <ul id="page-{{ places.number }}" class="root-items top-block unstyled">
{% endif %}

    {% for place in places %}
    <div class="nested-item">
      <fieldset>
        <div class="control-group place-name-label">
          <div class="controls">
            {{ place.restaurant_name }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            {% if place.address_1 %}{{ place.address_1 }},{% endif %} {{ place.city }}
          </div>
        </div>
        <div class="action-bar">
          <span class="inline">
            <a href="{% url 'place_edit' place.id %}" class="btn-small show-place">Details</a>
          </span>
          <span class="inline">
            <a href="{% url 'place_menus_edit' place.id %}" class="btn-small show-place-menus">Menus</a>
          </span>
          <span class="inline">
            <a href="{% url 'place_deals_edit' place.id %}" class="btn-small show-place-deals">Deals</a>
          </span>
        </div>
      </fieldset>
    </div>
    {% endfor %}
    {% if places.has_next %}
    <div class="add-root-item-button root-item place">
      <button class="btn-small add-button show-more-places-button" page="{{ places.next_page_number }}">Load More</button>
    </div>
    {% endif %}

{% if places.number == 1 %}
  </ul>
</div>

<div class="form-inline bar-top">
  <div class="input-append search-field">
    <input type="text" id="search-input" placeholder="Search..." {% if search_query %}value="{{ search_query }}"{% endif %}><button class="btn" type="button" id="refresh-places-button"><i class="icon-refresh icon-white"></i></button>
</div>
  <button href="{% url "place_add" %}" class="btn right add-place-button">Add</button>
</div>
{% endif %}
